<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.yy.pojo.User" />

    <bean id="userDao" class="com.yy.dao.impl.UserDaoImpl"/>

<!--    <bean id="userService" class="UserServiceImpl">-->
<!--        <constructor-arg ref="userDao"/>-->
<!--    </bean>-->

<!--    <bean id="factory" class="com.yy.static_factory.StaticBeanFactory" factory-method="getUserService"/>-->

</beans>